.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: none;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em 1em;
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao{
    display: none;
}

/* checked detecta se está preenchido o input docheckbox, o acento é um combinador q procura um 
outro elemento que vem em seguida. 
(se o container botão tiver checked, ele vai procurar outro q venha depois dele e vai colocar display block) */

.container__botao:checked~.lista-menu {
    display: block;
}   

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* prende só onde tem texto */      /* webkit é para outros navegadores */
    text-transform: uppercase;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}



@media screen and (min-width: 1024px) {
    
    .cabecalho{
        padding: 0 2em;
    }

    .container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 700;
        display: block;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
        list-style: none;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu{
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .lista-menu__item{
        list-style: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
    
}
